<!DOCTYPE html>
<html>
  <head>
    <title>RailsWebpackTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_bundle_tag 'application' %>
    <%= javascript_bundle_tag 'application', async: true %>
    <%= yield :bundle_css %>
  </head>

  <body>
    <%= yield %>
    <%= yield :bundle_js %>
  </body>
</html>
